/* Font */
@font-face {
  font-family: Gilroy-Regular;
  src: url(../font/Gilroy-Regular.woff2) format("woff2");
}
/* Container */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Gilroy-Regular;
}

.container {
  margin: 0 auto;
  max-width: 450px;
  min-height: 888px;
  background-color: #78ac96;
  background-size: cover;
  background-repeat: no-repeat;
}
.container .modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #a3a3a3;
  z-index: 10;
}
.container .modal .modal-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 11;
  width: 600px;
  height: 400px;
  background: #78ac96;
  color: #fff;
}

.background {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 888px;
  position: absolute;
  opacity: 60%;
}

.wrapper {
  position: relative;
  min-height: 888px;
  z-index: 9;
}

/* Header */
.content-header {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.search {
  width: 310px;
  height: 71px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  -webkit-backdrop-filter: opacity(20%);
          backdrop-filter: opacity(20%);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 20px;
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.search:focus {
  outline: none;
}
.search::-webkit-input-placeholder {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 1;
}
.search::-moz-placeholder {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 1;
}
.search:-ms-input-placeholder {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 1;
}
.search::-ms-input-placeholder {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 1;
}
.search::placeholder {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 1;
}

/* Burger */
.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 18px;
  border: none;
  background: none;
  min-width: 40px;
  min-height: 30px;
  padding: 0;
  cursor: pointer;
}
.burger span {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  min-width: 40px;
  min-height: 6px;
  border-radius: 6px;
}
.burger span:nth-child(1) {
  top: 0;
}
.burger span:nth-child(3) {
  bottom: 0;
}

/* Main */
.main-information {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  color: #ffffff;
}
.main-information picture {
  z-index: 9;
}
.main-information data {
  font-size: 48px;
  color: #ffffff;
  z-index: 9;
}

.city-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.city-information .city {
  margin: 0;
  padding: 0;
  font-size: 40px;
}
.city-information .degrees {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.more-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
  margin-top: 100px;
  height: 120px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 20px;
}
.more-details .line {
  width: 1px;
  height: 110px;
  background-color: #fff;
  margin: 0 auto;
}

.weather-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.weather-information div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.weather-information div p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 20px;
}
.weather-information div p picture img {
  width: 16px;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 73px 73px 0px 0px;
  height: 220px;
  width: 100%;
}

.forecast-for-next-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.forecast-for-next-day p {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin: 10px 0;
  padding: 0;
}
.forecast-for-next-day .line {
  width: 320px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto;
}

.next-day-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  padding: 10px 0 0 0;
  min-width: 280px;
  margin: 0 auto;
}
.next-day-information div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.next-day-information div p {
  margin: 0;
  padding: 0;
}
.next-day-information div .name-day {
  min-width: 150px;
  text-align: start;
}