/* Container */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 450px;
  min-height: 888px;
  background-color: #78ac96;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-background {
  background-image: url(../img/background.jpg);
  opacity: 60%;
}

/* Header */

.search {
  width: 310px;
  height: 71px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7.5px);
  border-radius: 20px;
}

/* Burger */

.burger {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background: none;

  span {
    position: absolute;
    color: #fff;
    opacity: 50%;
    width: 40px;
    height: 6px;
    border-radius: 6px;
  }
}
