/* Font */

@font-face {
  font-family: Gilroy-Regular;
  src: url(../font/Gilroy-Regular.woff2) format("woff2");
}

/* Container */

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Gilroy-Regular;
}

.container {
  margin: 0 auto;
  max-width: 450px;
  min-height: 888px;
  background-color: #78ac96;
  background-size: cover;
  background-repeat: no-repeat;

  .modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #a3a3a3;
    z-index: 10;

    .modal-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 20px;
      z-index: 11;
      width: 600px;
      height: 400px;
      background: #78ac96;
      color: #fff;
    }
  }
}

.background {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 888px;
  position: absolute;
  opacity: 60%;
}

.wrapper {
  position: relative;
  min-height: 888px;
  z-index: 9;
}

/* Header */

.content-header {
  z-index: 1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.search {
  width: 310px;
  height: 71px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  backdrop-filter: opacity(20%);
  backdrop-filter: blur(7.5px);
  border-radius: 20px;
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    opacity: 1;
  }
}

/* Burger */

.burger {
  display: flex;
  align-items: center;
  position: absolute;
  right: 18px;
  border: none;
  background: none;
  min-width: 40px;
  min-height: 30px;
  padding: 0;
  cursor: pointer;

  span {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    min-width: 40px;
    min-height: 6px;
    border-radius: 6px;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }
}

/* Main */

.main-information {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  color: #ffffff;

  picture {
    z-index: 9;
  }

  data {
    font-size: 20px;
    color: #ffffff;
    z-index: 9;
  }
}

.city-information {
  display: flex;
  z-index: 9;

  column-gap: 10px;

  .city {
    margin: 0;
    padding: 0;
    font-size: 40px;
  }

  .degrees {
    margin: 0;
    padding: 0;
    font-size: 40px;
  }
}

.more-details {
  display: flex;
  align-items: center;
  padding: 18px;
  margin-top: 100px;

  height: 120px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7.5px);
  border-radius: 20px;

  .line {
    width: 1px;
    height: 110px;
    background-color: #fff;
    margin: 0 auto;
  }
}

.weather-information {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  div {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;

    p {
      padding: 0;
      margin: 0;

      color: #fff;
      font-size: 20px;

      picture {
        img {
          width: 16px;
        }
      }
    }
  }
}
/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7.5px);
  border-radius: 73px 73px 0px 0px;
  height: 220px;
  width: 100%;
}

.forecast-for-next-day {
  display: flex;
  flex-direction: column;

  p {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 10px 0;
    padding: 0;
  }

  .line {
    width: 320px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
  }
}

.next-day-information {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px 0 0 0;
  min-width: 280px;
  margin: 0 auto;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin: 0;
      padding: 0;
    }

    .name-day {
      min-width: 150px;
      text-align: start;
    }
  }
}
